@model EmailViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="page-header">
    <h1>Notifications POC</h1>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Send Mail</h2>
        <form method="post" defaultButton="btnSubmit">
            <p>
                <span>
                    <label asp-for="@Model.EmailTo">Mail to:</label>
                    <input asp-for="@Model.EmailTo" value="@Model.EmailTo" />
                </span>
            </p>
            <p>
                <span>
                    <label asp-for="@Model.ReplyTo">Reply to:</label>
                    <input asp-for="@Model.ReplyTo" value="@Model.ReplyTo" />
                </span>
            </p>
            <p>
                <span>
                    <label asp-for="@Model.Tokens">Tokens:</label>
                    <input asp-for="@Model.Tokens" value="@Model.Tokens" />
                </span>
            </p>
            <p>
                <span>
                    <label asp-for="@Model.Template">Template name:</label>
                    <input asp-for="@Model.Template" value="@Model.Template" />
                </span>
            </p>
            <p>
                <span>
                    <input id="btnSubmit" class="button" type="submit" value="Send">
                </span>
            </p>
        </form>
    </div>
</div>
